doctype html
html
    head
        title Page d'accueil
        style
            include style/css/test.css
    body
        h1(style="margin-left:37%")  Bienvenue dans la page d'accueil
        form(action="/register",method="GET" )
            button(type="submit", class="myButton", style="margin-left:47%") S'enregistrer
        form(action="/login",method="GET" )
            button(type="submit", class="myButton", style="margin-left:47%") Se connecter