doctype html
html
    head
        title ADD
    body
        p Ajout d'un vin
        form(action="/add",method="POST" )
            input(type="text",value="",name="name" )
            span Nom
            p
            input(type="text", value="",name="description")
            span Description
            p
            input(type="number",value="0",name="quantity")
            span quantité
            p
            button(type="submit", class="myButton") Ajouter le vin
        form(action="/", method="GET")
            button(type="submit", class="myButton") Accueil
