doctype html
html
    head
        title Page d'accueil
        style
            include style/css/test.css
    body
        h1  You are connected
        form(action="/add", method="GET" style="display:inline-block")
            button(type="submit", class="myButton") Ajouter un vin
        form(action="/logout", method="POST" style="display:inline-block")
            button(type="submit", class="myButton") se deconnecter
        form(action="/vins", method="get" style="display:inline-block")
            button(type="submit", class="myButton") voir tout les vins