footer(class="page-footer font-small blue foot allButFooter" style="position:absolute;bottom:0;width:100%;height:100px")
    div(class="footer-copyright text-left py-3" style="font-size:15px")     florian.golling@epitech.eu 2020