doctype html
html
    head
        title LOGIN
        style
            include style/css/test.css
    body
        form(action="/", method="GET")
            button(type="submit", class="myButton") Accueil
        form(action="/login",method="POST" )
            p(class="myTitle") LOGIN
            input(type="text",value="",name="prenom",placeholder="user" required)
            p
            input(type="password", value="",name="password",placeholder="password" required)
            p
            button(type="submit", class="myButton" style="margin-left:45%") se connecter
