doctype html
html
    head
        title Login
    body
        p bienvenue sur la page de login
        form(action="/post",method="POST" )
            input(type="text",value="user",name="prenom" )
            input(type="text", value="password",name="password")
            button(type="submit") se connecter
