doctype html
html
    head
        title Créer son compte
    body
        p bienvenue sur la page de register
        form(action="/register",method="POST" )
            input(type="text",value="",name="prenom")
            span user
            p
            input(type="password", value="",name="password")
            span password
            p
            button(type="submit", class="myButton") créer son compte
        form(action="/", method="GET")
            button(type="submit", class="myButton") Accueil
