doctype html
html
    head
        title Page d'accueil
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")
        script( src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
        script(type="text/javascript").
            function change(test) {
                var nice = '' + test;
                document.getElementById(nice).value = document.getElementById(nice).value + 1;
                console.log(document.getElementById(test))
            }
        style
            include ../node_modules/@fortawesome/fontawesome-free/css/all.css
            include style/css/test.css
    include navbar
    body()
        div#app
            div(class="")
                form(class="")
                    input#app(type="text" v-model='search' class="form-control" style="margin:0" placeholder="Rechercher un vin..")
            table
                thead
                    tr
                        th Nom
                        th Description
                        th Quantité
                tbody
                    tr(v-for="vine in filteredList")
                        td {{ vine.Name }}
                        td {{ vine.Description }}
                        td(:value="vine.Quantity",:id="vine.id") {{ vine.Quantity}}
                            form(action="/plus", method="POST" style="display:inline-block;margin-left:10%")
                                button(type="submit" class="myButton",:value="vine.id" v-on:click="plus(vine)") +
                                input(type="hidden", name="plus", :value="vine.id" ,)
                            form(action="/minus", method="POST" style="display:inline-block;margin-left:2%")
                                button(type="submit" class="myButton" style="font-size:14px" v-on:click="minus(vine)") -
                                input(type="hidden", name="minus", :value="vine.id")
                            form(action="/rm", method="POST" style="display:inline-block;margin-left:2%")
                                button(type="submit" class="myButton" style="font-size:10px") 🗑
                                input(type="hidden", name="minus", :value="vine.id")
        script(type="text/javascript").
            const app = new Vue({
                el:"#app",
                data: {
                    search: '',
                    vineList : !{JSON.stringify(Vines)},
                    quantity: !{JSON.stringify(Vines)}
                },
                methods:{
                        minus: function(test) {
                            test.Quantity = test.Quantity - 1;
                            if (test.Quantity < 0)
                                test.Quantity = 0;
                        },
                        plus: function(test) {
                            test.Quantity = test.Quantity + 1;
                        }
                },
                computed: {
                    filteredList() {
                        return this.vineList.filter(vine => {
                            return vine.Name.toLowerCase().includes(this.search.toLowerCase())
                        })
                    }
                }
            })